body {
	background: black;
}
 
#canvasNormal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 320px;
	height: 240px;
	
	margin: -180px 0 0 0;
}

#canvasProcesat 
{
	width: 320px;
	height: 240px;
	
	position: absolute;

	top: 50%;
	left: 50%;
	margin: 120px 0 0 -360px;
}
 
#video 
{
	width: 320px;
	height: 240px;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -180px 0 0 -360px;
}